<toaster-container style="position: fixed;top:5%;left:40%;" toaster-options="{'time-out': 2000,'close-button':true}"></toaster-container>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">订单管理</h1>
</div>
<script type="text/ng-template" id="modal.html">
            <div ng-include="'tpl/system/order_modal.html'"></div>  </script>
<script type="text/ng-template" id="userInfo.html">
            <div ng-include="'tpl/hairdresser/userInfo_modal.html'"></div>  </script>
<script type="text/ng-template" id="hairdresserInfo.html">
            <div ng-include="'tpl/manager/hairdresserInfo_modal.html'"></div>  </script>
<div class="wrapper-sm">
	<div class="col-sm-12  m-b">
		<div class="col-sm-2 wrapper-xs" style="width: 100px;">检索条件：</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="login_id" ng-init="login_id=''" placeholder="请输入用户账号">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="code" ng-init="code=''" placeholder="请输入美发师编号">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="name" ng-init="name=''" placeholder="请输入预约项目">
		</div>
		<div class="col-sm-2">
			<select name="status" class="form-control" ng-model="status" ng-init="status='4'">
				<option value="4">完成</option>
				<option value="5">已失效</option>
			</select>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-info btn-addon" ng-click="search()">
				<i class="icon-magnifier"></i>搜索
			</button>
		</div>
	</div>
	<div class="m-t-xxs">
		<table class="table table-bordered table-hover table-condensed bg-white-only t-c">
			<thead>
				<tr style="font-weight: bold" class="success">
					<td style="width: 6%"></td>
					<td style="width: 7%">用户账号</td>
					<td style="width: 10%">美发师代号</td>
					<td style="width: 10%">服务项目</td>
					<td style="width: 7%">费用</td>
					<td style="width: 10%">订单提交时间</td>
					<td style="width: 10%">服务时间</td>
					<td style="width: 10%">订单状态</td>
					<td style="width: 7%">评价</td>
					<td style="width: 10%">操作</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in orders |paging:vm.page.index:vm.page.size">
					<td class="v-middle">{{$index+1}}</td>
					<td class="v-middle"><a href="" style="color: red;" ng-click="userInfo('md',item.user_reservation)">{{item.user_reservation}}</a></td>
					<td class="v-middle"><a href="" style="color: red;" ng-click="hairdresserInfo('md',item.hairdresser_info_code)">{{item.hairdresser_info_code}}</a></td>
					<td class="v-middle">{{item.name}}</td>
					<td class="v-middle">{{item.price}}元</td>
					<td class="v-middle">{{item.submit_appointment_time}}</td>
					<td class="v-middle">{{item.appointment_time}}</td>
					<td class="v-middle"><span ng-if="item.appointment_status==4">完成</span> <span ng-if="item.appointment_status==5">已失效</span></td>
					<td class="v-middle"><span ng-if="item.evaluate==0">差评</span> <span ng-if="item.evaluate==1">好评</span></td>
					<td class="v-middle">
						<button  class="btn btn-danger btn-sm" ng-if="item.appointment_status==4" ng-click="deleteOne(item.id,5)">删除</button>
						<button  class="btn btn-danger btn-sm" ng-if="item.appointment_status==5" ng-click="deleteOne(item.id,7)">彻底删除</button>
					</td>
				</tr>
			</tbody>
		</table>
		<span ng-if="orders[0]==null" style="color: red; font-size: 20px; margin-left: 40%"> 暂无订单</span>
	</div>
	<div class="row" ng-if="orders[0]!=null">
		<div class="col-sm-12">
			<div class="pull-left" style="width: 25%; margin-left: 5px; margin-right: 20px"></div>
			<div>
				<pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"></pagination>
			</div>
		</div>
	</div>

</div>
