<div class="modal-body wrapper bg-light">

	<div class="row">
		<div class="col-sm-12 ">
			<a class="glyphicon glyphicon-remove pull-right" ng-click="close()"></a>
			<h3 class="m-t-none m-b b-b ">美发师工资修改</h3>
			<form name="form" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3 row">每月基础工资:</label>
					<div class="col-sm-9 p-r">
						<input type="number" class="form-control" placeholder="请输入基础工资"
							name="base_charge" ng-model="item.base_charge" required> <span
							class="required text-danger text-lg">*</span>
					</div>
				</div>
				 
				 
				 <div class="form-group">
					<label class="control-label col-sm-3 row">每单提成:</label>
					<div class="col-sm-9 p-r">
						<input type="number" step="0.01" class="form-control" placeholder="请输入每单提成"
							name="commission"
							ng-model="item.commission" required> <span
							class="required text-danger text-lg">*</span>
					</div>
				</div>
				 
				<button type="sumbit"
					class="btn btn-md btn-success pull-right text-uc m-t m-l n-xs"
					ng-click="save(form)">
					<strong>保存</strong>
				</button>
			</form>

		</div>
	</div>
</div>