##############################
## Folders                  ##
##############################
out/
target/
##############################
## Netbeans conf            ##
##############################
BeautySalonManagement.iml