##############################
## Folders                  ##
##############################
out/
.idea/
 
##############################
## Netbeans conf            ##
##############################
BeautySalonManagement.iml