<toaster-container style="position: fixed;top:5%;left:40%;" toaster-options="{'time-out': 2000,'close-button':true}"></toaster-container>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">账号信息</h1>
</div>
<div class="wrapper-md">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading font-bold">密码修改</div>
			<div class="panel-body">
				<div>
					<form name="form">
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">账号:</label>
							<div class="col-sm-9">{{account.loginId}}</div>
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">原密码:</label>
							<div class="col-sm-9">
								<input name="password" ng-model="password"  class="form-control m-b" required value="" type="password" placeholder="请输入密码">
							</div>
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">新密码:</label>
							<div class="col-sm-9">
								<input name="newPassword" ng-model="newPassword"  class="form-control m-b" required  value="" type="password" placeholder="请再次输入新密码">
							</div>
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">再次输入:</label>
							<div class="col-sm-9">
								<input name="newPassword2" ng-model="newPassword2"  class="form-control m-b" required  value="" type="password" placeholder="请再次输入新密码">
							</div>
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<button type="sumbit" class="btn btn-md btn-info pull-right text-uc   n-xs" ng-click="save(form)">
								<strong>保存</strong>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

